KC_BOOTSTRAP_ADMIN_USERNAME={{ kc_admin.username }}
KC_BOOTSTRAP_ADMIN_PASSWORD={{ kc_admin.password }}
KC_DB=postgres
KC_PROXY=edge
KC_HOSTNAME={{ keycloak_hostname }}
KC_HOSTNAME_STRICT={{ keycloak_hostname_strict | ternary('true', 'false') }}
KC_HTTP_ENABLED=true
KC_DB_URL=jdbc:postgresql://{{ kc_db.host }}:{{ kc_db.port }}/{{ kc_db.dbname }}
KC_DB_USERNAME={{ kc_db.username }}
KC_DB_PASSWORD={{ kc_db.password }}
