KEYCLOAK_ADMIN={{ (kc_admin_secret.username | default(kc_admin_secret.user)) | default('admin') }}
KEYCLOAK_ADMIN_PASSWORD={{ kc_admin_secret.password }}
KC_DB=postgres
KC_DB_URL_HOST={{ kc_db_secret.host }}
KC_DB_URL_PORT={{ kc_db_secret.port | default(5432) }}
KC_DB_URL_DATABASE={{ kc_db_secret.dbname | default('keycloak') }}
KC_PROXY=edge
KC_HOSTNAME={{ keycloak_hostname }}
KC_HOSTNAME_STRICT={{ keycloak_hostname_strict | ternary('true', 'false') }}
KC_HTTP_ENABLED=true
