KEYCLOAK_ADMIN={{ kc_admin.username }}
KEYCLOAK_ADMIN_PASSWORD={{ kc_admin.password }}
KC_DB=postgres
KC_DB_URL_HOST={{ kc_db.host }}
KC_DB_URL_PORT={{ kc_db.port }}
KC_DB_URL_DATABASE={{ kc_db.dbname }}
KC_PROXY=edge
KC_HOSTNAME={{ keycloak_hostname }}
KC_HOSTNAME_STRICT={{ keycloak_hostname_strict | ternary('true', 'false') }}
KC_HTTP_ENABLED=true
