---
- import_playbook: 00_preflight.yml
- import_playbook: 05_secrets_preflight.yml

- name: Keycloak hardened post-boot
  hosts: all
  become: true
  gather_facts: true
  roles:
    - role: keycloak
