LEADGEN_DB_HOST={{ leadgen_db_host }}
LEADGEN_DB_PORT={{ leadgen_db_port }}
LEADGEN_DB_NAME={{ leadgen_db_name }}
LEADGEN_DB_USER={{ leadgen_db_user }}
LEADGEN_DB_PASSWORD={{ leadgen_db_password }}
LEADGEN_DB_SSLMODE={{ leadgen_db_sslmode }}

# Used by nginx header injection and/or LeadGen API auth checks
LEADGEN_INTAKE_API_KEY={{ leadgen_intake_api_key }}
