user nginx;
worker_processes auto;
pid /run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  sendfile on;
  keepalive_timeout 65;

  server {
    listen {{ nginx_listen_ip }}:{{ nginx_listen_port }};
    server_name _;

    location /healthz {
      access_log off;
      return 200 "ok\n";
      add_header Content-Type text/plain;
    }

    location / {
      return 404;
    }
  }
}
