---
keycloak_network_name: motorcade-core

keycloak_image: quay.io/keycloak/keycloak:24.0
keycloak_container_name: motorcade-keycloak
keycloak_bind_ip: 127.0.0.1
keycloak_bind_port: 8081
keycloak_container_port: 8080

keycloak_admin_user: ""
keycloak_admin_password: ""

keycloak_db_mode: rds
keycloak_db_host: ""
keycloak_db_port: 5432
keycloak_db_name: keycloak
keycloak_db_user: keycloak
keycloak_db_secret_arn: ""

keycloak_hostname: sso.motorcade.vip
keycloak_hostname_strict: true

keycloak_runtime_dir: /run/motorcade/keycloak
keycloak_audit_dir: /srv/motorcade/audit

podman_bin_candidates:
  - /usr/local/bin/podman
  - /usr/bin/podman

# Secrets Manager ARN containing Keycloak admin JSON: {"username":"...","password":"..."}
keycloak_admin_secret_arn: ""
